h1 {
    font-size: 50px;
    font-family: 'Shippori Antique B1', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Shippori Antique B1', sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Shippori Antique B1', sans-serif;
}

li {
    font-size: 25px;
    font-family: 'Shippori Antique B1', sans-serif;
}

body {
    margin: 0;
    display:flex;
    flex-direction:column;
}

section {
    padding: 100px;
}

footer {
  
    border: black solid 1px;
    background-color: rgb(83, 83, 83);
}


@media only screen and (max-width: 700px) {

    h1 {
        font-size: 30px;

    }
    
    h2 {
        font-size: 20px;
    }
    
    p {
        font-size: 15px;
    
    }

}

.social-icon {
    width: 55px;
    height: 50px;
    margin: 25px 15px;
}

.skills {
    background:url("Images/TexturesCom_FabricPlain0028_2_M.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.skill-text {
    color: white;
}

.clear {
    clear:both;
    margin:50px 0;
}

.top-banner {
    background:url("Images/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.top-text {
    position: relative;
    top: 30%;
    text-align: center;
    color:white;
}

.CV-button {
    width: 236px;
    height: 36px;
    margin: auto;
    background: coral;
    padding: 15px;
    border-radius: 20px;
}

.CV-button a {
    text-decoration: none; 
    font-size: 20px;
    color:white;
    font-family: 'Shippori Antique B1', sans-serif;
}


.CV-download {
    padding: 40px;
    border-radius: 20px;
    background: white;
    margin:auto;
    font-size: 25px;
}

.about-me {
    background-color: beige;
    margin:0;
}

.about-container {
  
    margin: 0 5vw;
}


.about-text ul {
    font-size: 25px;
}

.Portfolio {
    display:flex;
    flex-direction:column;
    text-align:center;
    padding: 80px;
    background:url("Images/TexturesCom_FabricPlain0154_1_M.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.image-grid {
    display: flex;
    flex-direction: column;
   justify-content:space-between;
   flex-wrap: wrap;
}

.footer-icon {
    border: black solid 1px;
    width: 300px;
    height: 300px; 
    margin: 20px auto;
}

.portfolio-title {
    text-align: center;
}

.contact {
    background-color:beige;
    
}

.contact-detail {
    
    position:relative;
    top: 30px;
}

.footer-text {
    text-align:center;
    color: white;
    font-size: 15px;
}

.project-card {
    width: 400px;
   margin: 20px;
    box-shadow: 5px 5px 20px grey;
    background: white;
}


.project-container {
    display:flex;
    justify-content:space-around;

}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}


.project-image {
    width: 100%;
}

hr {
    margin: 0 20px;
}

.project-link {
    text-decoration: none;
    color: grey;
}

@media only screen and (max-width: 1000px){
    .project-container {
        display: flex;
        flex-wrap:wrap;
    }
}





